@import './libariesAniamtionButton';
@import './animateCss';
/*-----------------------------GLOBAL COMPONENTS-------------------------*/
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/*-----------------------------COMPONENT-------------------------*/
//Nut button bynow

//btn1 cho phần carousel trang index
.btnByNow1 {
    @extend .custom-btn;
    @extend .btn-7;
    width: 175px;
    height: 64px;
    background-color: var(--bg-button-primary);
    @extend .fs-2;
    @extend .fw-extraLight;
    color: var(--text-color-light);
    border: none;
    text-align: center;
    a{
        text-decoration: none;
        color: inherit;
    }
}

//btn2 cho phần detail products
.btnByNow2 {
    @extend .custom-btn;
    @extend .btn-7;
    width: 175px;
    height: 64px;
    background-color: var(--bg-button-secondary);
    @extend .fs-2;
    @extend .fw-extraLight;
    color: var(--text-color-primary);
    border: none;
    text-align: center;
    a{
        text-decoration: none;
        color: inherit;
    }
}

//class cho wow
.wow{
    
}

