@import '../Bases/_base.scss';
@import '../Helpers/_helper.scss';
@import '../Components/_component.scss';
@import '../Layouts/_footer.scss';
@import '../Layouts/_header.scss';
@import '../Layouts/login.scss';

@mixin tableStyle(){
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    text-transform: capitalize;
    font-size: 20px;
}

@mixin button(){
    button {
        font-size: 18px;
        padding: 8px;
        text-transform: capitalize;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

    }
}

body {
    .header{
        @include headerComponent();
    }

    .carousel{}

    .product{
        margin-left: 110px;
        h1 {
            @include styleText($fs-4, $fw-semiBold, var(--text-color-primary));
            margin-bottom: 10px;
        }
        
        table {
            width: 90%;
            border-collapse: collapse;
            
            th {
                @include tableStyle();
                color: $c0-text-primary;
                border-bottom: 1px solid $c0-text-grey-sub;
            }
            tbody{
                tr{
                    max-width: 30px;
                    border: 1px solid black;
                    td {
                        @include tableStyle();
                        border-bottom: 1px solid $c0-text-grey-sub;
                        @include button();
                        a{
                            text-decoration: none;
                            color: $c0-text-primary;
                            img{
                                height: 100px;
                            }
                        }
        
                        .btn-view{
                            background: #03a9f4;
                            color: $c0-text-light;
        
                            &:hover {
                                box-shadow:
                                7px 7px 20px 0px rgba(0, 0, 0, .2),
                                4px 4px 5px 0px rgba(0, 0, 0, .3);
                            transition: all 0.3s ease;
                            }
                        }
                        .btn-delete{
                            background: #e91e63;
                            color: $c0-text-light;
                            &:hover {
                                box-shadow:
                                7px 7px 20px 0px rgba(0, 0, 0, .2),
                                4px 4px 5px 0px rgba(0, 0, 0, .3);
                            transition: all 0.3s ease;
                            }
                        }
                    } 
                } 
            }
                      
        }

        .btn-pay{
            width: 90%;
            text-align: right;
            margin-top: 15px;
            button{
                @extend .btnByNow2;
                width: 10%;
                background: $linear1-bg-platinum;
                font-weight: 500;
                font-size: 20px;
                height: 50px;
                transition: all 0.5s;
            }
        }
    }

    .footer {
        @include footerComponent();
        font-size: 12px;
    }

    @include loginComponent();
}
