/*-----------------------------COLOR-------------------------*/
$c0-text-primary: #000;
$c0-text-primary-sub: #5e5b5b;
$c0-text-secondary:#1ED90E;
$c0-text-third:#FC0303;
$c0-text-grey: #CBC9C9;
$c0-text-grey-sub: #ececec;
$c0-text-light:#fff;
$c0-text-danger-emphasis:rgb(245, 134, 134);

$c0-bg-primary:#FFFCFC;
$c0-bg-secondary:#F5F5F5;

$c1-bg-primary:#F8B653;
$c1-bg-secondary:#E1B067;
$c2-bg-grey:#DEDDDC;

$linear1-bg-primary:linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
$linear1-bg-secondary:linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
$linear1-bg-platinum: linear-gradient(126deg, rgba(248,182,83,1) 0%, rgba(248,182,83,.6) 50%, rgba(248,182,83,1) 100%);

body{
    // text color
    --text-color-primary:#{$c0-text-primary};
    --text-color-light:#{$c0-text-light};
    --text-color-grey:#{$c0-text-grey};

    //background color
    --bg-color-primary:#{$c0-bg-primary};
    --bg-color-secondary:#{$c0-bg-secondary};


    //button background
    --bg-button-primary:#{$c1-bg-primary};
    --bg-button-secondary:#{$c1-bg-secondary};
    --bg-button-grey:#{$c2-bg-grey};
    

    // background linear
    --linear-bg-primary:#{$linear1-bg-primary};
    --linear-bg-secondary:#{$linear1-bg-secondary};
}

/*-----------------------------FONT SIZE-------------------------*/

$arrayFontSize:("0":16px,"1":20px,"2":24px,"3":30px,"4":40px,"5":50x,"6":60px);
@each $key,$value in $arrayFontSize{
    .fs-#{$key}{
        font-size: $value;
    }
}
$fs-0:16px; 
$fs-1:20px;
$fs-2:24px;
$fs-3:30px;
$fs-4:40px;
$fs-5:50px;
$fs-6:60px;

/*-----------------------------FONT WEIGHT-------------------------*/
$arrayWeigh:("extraLight":200,"light":300,"normal":400,"semiBold":500,"bold":600,"bolder":700,"extraBold":800);

@each $key,$value in $arrayWeigh{
    .fw-#{$key}{
        font-weight: $value;
    }
}

$fw-extraLight:200;
$fw-light:300;
$fw-normal:400;
$fw-semiBold:500;$bold:600;
$fw-bolder:700;
$fw-extraBold:800;


/*-----------------------------MIXIN-------------------------*/
//mixin style cho text
@mixin styleText($fs,$fw,$c){
    font-size: $fs;
    font-weight: $fw;
    color:$c;
}

//mixin style cho box
@mixin boxStyle($bd,$br,$bg,$bs){
    border: $bd;
    border-radius: $br;
    background: $bg;
    box-shadow: $bs;
}
