@mixin footerSubItemStyle(){
    width: 32%;
    
    @media only screen and (max-width: 768px){
        width: 25%;
    }
    @media only screen and (max-width:576px){
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
        padding: 0 20px;
    }
    h1{
        margin-bottom: 5px;
        @media only screen and (max-width: 768px){
            font-size: 18px;
        }
    }
    ul{
        
        list-style: none;
        font-size: 12px;
        margin-bottom: 5px;
        @media only screen and (max-width:576px){
            font-size: 18px;
        }
        a{
            text-decoration: none;
            color: $c0-text-primary;
            
        }
    }
}

@mixin footerVerticalLine(){
    position: relative;
    &::before{
        content: "";
        position: absolute;
        display: block;
        background-color: $c0-text-grey;
        bottom: -10px;
        left: -30px;
        width: 1px;
        height: 115%;
        @media only screen and (max-width: 768px){
            height: 110%;
            left: -15px;
        }
    }
    @media only screen and (max-width:576px) {
        &::before{
            display: none;
        }
    }
}

@mixin footerItemStyle($moreLink: false, $verticalLine: false){
    @media only screen and (max-width:576px) {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 20px;
    }
    
    @include footerSubItemStyle();
    @if $moreLink{
        a{
            text-decoration: none;
            font-size: 12px;
            color: $c0-text-danger-emphasis;
            @media only screen and (max-width:576px) {
                width: 100%;
                font-size: 18px;
            }
        }
    }

    @if $verticalLine{
        @include footerVerticalLine();
        
    }

}


@mixin footerComponent(){
    .footer-container{
        display: flex;
        justify-content: space-between;
        padding: 40px 100px;
        @media only screen  and (max-width:576px) {
            flex-direction: column;
            justify-content: center;
            div:nth-of-type(3){
                margin-bottom: 0;
            }
            div:nth-of-type(1){
                margin-top: 0;
            }
        }
        .get-help{                
            @include footerSubItemStyle();
        }

        .orders{
            @include footerItemStyle($moreLink: false, $verticalLine: true);
            width: 25%;
        }

        .register{
            @include footerItemStyle($moreLink: true, $verticalLine: true);
        }

        .email-signup{
            @include footerItemStyle($moreLink: true, $verticalLine: false);
        }

        .gift-cards{
            @include footerItemStyle($moreLink: true, $verticalLine: true);
            width: 25%;
        }

        .store-location{
            @include footerItemStyle($moreLink: true, $verticalLine: true);
        }
    }
    .footer-container:nth-child(2){
        background-color: $c0-text-grey-sub;
    }
}